Repository go-spatial/tegola, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gdey, @ARolek, @mapl, @mrylov

.github/CODEOWNERS:

# The main owners and contributes of this project.
*       @gdey @ARolek

# Maintainer of the gpkg package:
/provider/gpkg @gdey
/ui @ARolek @mapl
# Maintainer of the HANA database provider:
/provider/hana @mrylov

Bump Go to 1.24.2
  Dockerfile
  go.mod
Owners: @gdey, @ARolek

Bump Go to 1.24.2
  Dockerfile
  go.mod
Owners: @gdey, @ARolek

Add information about layer and map into warning about large size
  server/handle_map_layer_zxy.go
Owners: @gdey, @ARolek

fix typo
  server/handle_map_layer_zxy.go
Owners: @gdey, @ARolek

Replace raw logging with structured
  server/handle_map_layer_zxy.go
Owners: @gdey, @ARolek

add missing slog import
  server/handle_map_layer_zxy.go
Owners: @gdey, @ARolek

fix types mismatch
  server/handle_map_layer_zxy.go
Owners: @gdey, @ARolek

Use slog.UInt64 instead of slog.Int with uint types
  server/handle_map_layer_zxy.go
Owners: @gdey, @ARolek

fix typo
  server/handle_map_layer_zxy.go
Owners: @gdey, @ARolek

finally fix types mismatch
  server/handle_map_layer_zxy.go
Owners: @gdey, @ARolek

feat (logging): Add layer and map info to large tile size warning
  server/handle_map_layer_zxy.go
Owners: @gdey, @ARolek

feat (logging): Add layer and map info to large tile size warning
  server/handle_map_layer_zxy.go
Owners: @gdey, @ARolek

chore: upgrade go to 1.24.5
  Dockerfile
  go.mod
Owners: @gdey, @ARolek

chore: upgrade go to 1.24.5
  Dockerfile
  go.mod
Owners: @gdey, @ARolek

refactor: use maps.Copy for cleaner map handling
  provider/hana/hana_test.go
  provider/postgis/postgis_internal_test.go
Owners: @mrylov, @gdey, @ARolek

chore: Bump Go to 1.24.10
  Dockerfile
  go.mod
Owners: @gdey, @ARolek

chore: execute goimports to format the code
  atlas/cache_azblob.go
  atlas/cache_gcs.go
  atlas/cache_redis.go
  atlas/cache_s3.go
  atlas/observer_prometheus.go
  atlas/provider_gpkg.go
  atlas/provider_hana.go
  atlas/provider_postgis.go
  basic/collection.go
  basic/go_string.go
  cmd/tegola/cmd/version.go
  container/singlelist/point/list/list.go
  container/singlelist/point/list/point.go
  example/tile.go
  internal/build/tags/tags.go
  internal/env/dict.go
  internal/p/p.go
  maths/clip/internal/draw/svg.go
  maths/clip/intersect/point.go
  maths/clip/region/axis.go
  maths/clip/region/region.go
  maths/line.go
  maths/line_intersect.go
  maths/webmercator/main.go
  provider/gpkg/gpkg_register.go
  provider/gpkg/gpkg_register_nocgo.go
  provider/gpkg/nocgo_test.go
  provider/hana/register.go
  provider/postgis/register.go
  server/handle_map_layer_zxy.go
  tools/tools.go
Owners: @gdey, @ARolek, @mrylov

chore: bump go to 1.25.5
  Dockerfile
  go.mod
Owners: @gdey, @ARolek

Upgrade to TileJSON 3.0.0 specification and add fields json schema
  mapbox/tilejson/tilejson.go
  provider/postgis/postgis.go
  provider/provider.go
  server/handle_map_capabilities.go
Owners: @gdey, @ARolek

Add in-memory cache for capabilities endpoint to reduce DB queries
  server/handle_map_capabilities.go
Owners: @gdey, @ARolek

feat: add lazy ttl on file cache
  cache/file/README.md
  cache/file/file.go
  cache/file/file_test.go
Owners: @gdey, @ARolek

feat: add lazy ttl on file cache
  cache/file/README.md
  cache/file/file.go
  cache/file/file_test.go
Owners: @gdey, @ARolek

Set layerName as string
  provider/postgis/postgis.go
Owners: @gdey, @ARolek

Update provider/postgis/postgis.go
  provider/postgis/postgis.go
Owners: @gdey, @ARolek

Update provider/postgis/postgis.go
  provider/postgis/postgis.go
Owners: @gdey, @ARolek

Update provider/postgis/postgis.go
  provider/postgis/postgis.go
Owners: @gdey, @ARolek

Update provider/provider.go
  provider/provider.go
Owners: @gdey, @ARolek

Update server/handle_map_capabilities.go
  server/handle_map_capabilities.go
Owners: @gdey, @ARolek

Using pgtype for postgresTypeToString
  provider/postgis/postgis.go
Owners: @gdey, @ARolek

Use sync.Once()
  server/handle_map_capabilities.go
Owners: @gdey, @ARolek

Update interface to any
  mapbox/tilejson/tilejson.go
Owners: @gdey, @ARolek

Update tilejson spec test (#1)
  mapbox/tilejson/tilejson.go
  server/handle_map_capabilities.go
  server/handle_map_capabilities_test.go
  server/server.go
Owners: @gdey, @ARolek

refactor: simplify TileJSON caching and fix version logic
  mapbox/tilejson/tilejson.go
  server/handle_map_capabilities.go
  server/handle_map_capabilities_test.go
  server/server.go
Owners: @gdey, @ARolek

chore: upgrade go to 1.25.7
  Dockerfile
  go.mod
Owners: @gdey, @ARolek

chore: upgrade go to 1.25.7
  Dockerfile
  go.mod
Owners: @gdey, @ARolek

refactor: use maps.Copy for cleaner map handling
  provider/hana/hana_test.go
  provider/postgis/postgis_internal_test.go
Owners: @mrylov, @gdey, @ARolek

refactor: use maps.Copy for cleaner map handling
  provider/hana/hana_test.go
  provider/postgis/postgis_internal_test.go
Owners: @mrylov, @gdey, @ARolek

refactor: use maps.Copy for cleaner map handling
  provider/hana/hana_test.go
  provider/postgis/postgis_internal_test.go
Owners: @mrylov, @gdey, @ARolek

feat(postgis): add selector to postgis provider
  provider/postgis/collector.go
  provider/postgis/conn_selector.go
  provider/postgis/conn_selector_test.go
  provider/postgis/postgis.go
Owners: @gdey, @ARolek

feat(postgis): add connection planer to postgis provider
  provider/postgis/conn_planer.go
  provider/postgis/conn_planer_test.go
  provider/postgis/conn_selector.go
  provider/postgis/conn_selector_test.go
Owners: @gdey, @ARolek
