Repository go-spatial/tegola, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gdey, @ARolek, @mapl, @mrylov

feat(postgis): add connection builder to postgis provider
  provider/postgis/conn_builder.go
  provider/postgis/conn_builder_test.go
  provider/postgis/conn_planer.go
  provider/postgis/conn_planer_test.go
Owners: @gdey, @ARolek

feat(postgis): add connection validator to postgis provider
  provider/postgis/conn_validator.go
  provider/postgis/conn_validator_test.go
  provider/postgis/error.go
Owners: @gdey, @ARolek

fix(postgis): selector not returning env triggers
  provider/postgis/conn_selector.go
  provider/postgis/conn_selector_test.go
Owners: @gdey, @ARolek

fix(postgis): validator interface not returning connMeta
  provider/postgis/conn_validator.go
Owners: @gdey, @ARolek

feat(postgis): add connection connector to postgis provider
  provider/postgis/conn_connector.go
  provider/postgis/conn_connector_test.go
  provider/postgis/conn_planner.go
  provider/postgis/conn_planner_test.go
  provider/postgis/error.go
  provider/postgis/util.go
Owners: @gdey, @ARolek

refactor(postgis): createprovider with conn_connector
  provider/postgis/postgis.go
  provider/postgis/postgis_internal_test.go
  provider/postgis/postgis_test.go
  provider/postgis/util_internal_test.go
Owners: @gdey, @ARolek

chore(postgis): use any instead of interface{}
  provider/postgis/postgis_test.go
Owners: @gdey, @ARolek

chore: cleanup, update godoc
  provider/postgis/conn_builder.go
  provider/postgis/postgis.go
Owners: @gdey, @ARolek

feat: extend postgis config with optional pool_* options
  provider/postgis/conn_planner.go
  provider/postgis/conn_planner_test.go
  provider/postgis/postgis.go
Owners: @gdey, @ARolek

test: increase test coverage
  provider/postgis/conn_connector_test.go
  provider/postgis/conn_planner.go
  provider/postgis/conn_planner_test.go
  provider/postgis/conn_validator_test.go
Owners: @gdey, @ARolek

fix: env mode triggers include ssl envs
  provider/postgis/conn_planner_test.go
  provider/postgis/conn_selector.go
Owners: @gdey, @ARolek

fix: test in ci
  provider/postgis/conn_planner_test.go
  provider/postgis/util_internal_test.go
Owners: @gdey, @ARolek

test: explicit uri parameter for sslmode
  provider/postgis/util_internal_test.go
Owners: @gdey, @ARolek

fix: raise when map requires tilejson spec v3 but provider does not support
  atlas/map.go
  cmd/internal/register/maps.go
  cmd/internal/register/maps_test.go
  config/config.go
  config/config_test.go
  config/errors.go
  provider/errors.go
  provider/map.go
  provider/provider.go
  server/handle_map_capabilities.go
Owners: @gdey, @ARolek

chore: interface to any
  provider/postgis/postgis.go
Owners: @gdey, @ARolek

chore: upgrade go to 1.26.1
  .github/actions/amazon-linux-build-action/Dockerfile
  Dockerfile
  cache/redis/redis_test.go
  go.mod
Owners: @gdey, @ARolek

fix: vite version used for ui builds
  ui/package-lock.json
  ui/package.json
Owners: @ARolek, @mapl

fix: vite version used for ui builds
  ui/package-lock.json
  ui/package.json
Owners: @ARolek, @mapl

fix(cache): remove runtime.GC() workaround resolved in Go 1.12
  cmd/tegola/cmd/cache/worker.go
  cmd/tegola/cmd/cache/worker_test.go
Owners: @gdey, @ARolek

chore: bump Go to 1.26.2
  .github/actions/amazon-linux-build-action/Dockerfile
  Dockerfile
  README.md
  go.mod
Owners: @gdey, @ARolek

chore: bump Go to 1.26.2
  .github/actions/amazon-linux-build-action/Dockerfile
  Dockerfile
  README.md
  go.mod
Owners: @gdey, @ARolek

chore: drop conn_ prefix, update readme
  README.md
  provider/postgis/README.md
  provider/postgis/builder.go
  provider/postgis/builder_test.go
  provider/postgis/connector.go
  provider/postgis/connector_test.go
  provider/postgis/planner.go
  provider/postgis/planner_test.go
  provider/postgis/selector.go
  provider/postgis/selector_test.go
  provider/postgis/validator.go
  provider/postgis/validator_test.go
Owners: @gdey, @ARolek

docs: mvtprovider readme update
  mvtprovider/postgis/README.md
Owners: @gdey, @ARolek

docs: add admonition warning
  mvtprovider/postgis/README.md
  provider/postgis/README.md
Owners: @gdey, @ARolek

feat: support WorldCRS84Quad tile requests
  atlas/map.go
  basic/geometry_math.go
  cache/cache.go
  cache/cache_test.go
  cmd/internal/register/maps.go
  config/config.go
  config/errors.go
  provider/gpkg/gpkg.go
  provider/hana/hana.go
  provider/hana/util.go
  provider/map.go
  provider/postgis/util.go
  provider/postgis/util_internal_test.go
  provider/provider.go
  provider/provider_test.go
  server/handle_map_layer_zxy.go
  server/handle_map_layer_zxy_test.go
  server/middleware_tile_cache.go
  server/middleware_tile_cache_test.go
  server/server_test.go
  tile_grid.go
  tile_grid_test.go
Owners: @gdey, @ARolek, @mrylov

refactor(postgis): connection pool construction
  README.md
  mvtprovider/postgis/README.md
  provider/postgis/README.md
  provider/postgis/builder.go
  provider/postgis/builder_test.go
  provider/postgis/collector.go
  provider/postgis/connector.go
  provider/postgis/connector_test.go
  provider/postgis/error.go
  provider/postgis/planner.go
  provider/postgis/planner_test.go
  provider/postgis/postgis.go
  provider/postgis/postgis_internal_test.go
  provider/postgis/postgis_test.go
  provider/postgis/selector.go
  provider/postgis/selector_test.go
  provider/postgis/util.go
  provider/postgis/util_internal_test.go
  provider/postgis/validator.go
  provider/postgis/validator_test.go
Owners: @gdey, @ARolek

refactor(postgis): connection pool construction
  README.md
  mvtprovider/postgis/README.md
  provider/postgis/README.md
  provider/postgis/builder.go
  provider/postgis/builder_test.go
  provider/postgis/collector.go
  provider/postgis/connector.go
  provider/postgis/connector_test.go
  provider/postgis/error.go
  provider/postgis/planner.go
  provider/postgis/planner_test.go
  provider/postgis/postgis.go
  provider/postgis/postgis_internal_test.go
  provider/postgis/postgis_test.go
  provider/postgis/selector.go
  provider/postgis/selector_test.go
  provider/postgis/util.go
  provider/postgis/util_internal_test.go
  provider/postgis/validator.go
  provider/postgis/validator_test.go
Owners: @gdey, @ARolek

chore: bump Go to 1.26.5
  .github/actions/amazon-linux-build-action/Dockerfile
  Dockerfile
  README.md
  go.mod
Owners: @gdey, @ARolek

feat(maps): add static R2 release pipeline
  .dockerignore
  .github/workflows/maps-release-dev.yml
  deploy/maps/cloudflare/maps-worker-dev/.gitignore
  deploy/maps/cloudflare/maps-worker-dev/README.md
  deploy/maps/cloudflare/maps-worker-dev/package-lock.json
  deploy/maps/cloudflare/maps-worker-dev/package.json
  deploy/maps/cloudflare/maps-worker-dev/src/index.ts
  deploy/maps/cloudflare/maps-worker-dev/tsconfig.json
  deploy/maps/cloudflare/maps-worker-dev/wrangler.jsonc
  deploy/maps/pilot/README.md
  deploy/maps/pilot/build-basemap.sh
  deploy/maps/pilot/build-country-pack.sh
  deploy/maps/pilot/build-release.sh
  deploy/maps/pilot/countries.json
  deploy/maps/pilot/rebuild-legacy-east-protected-areas.sh
  deploy/maps/pilot/refresh-geofabrik-lock.sh
  deploy/maps/pilot/release-inputs.lock.json
  deploy/maps/pilot/validate-release.sh
Owners: @gdey, @ARolek

docs(maps): make R2 pilot the development default
  deploy/maps/README.md
  docs/safari-expert-railway.md
Owners: @gdey, @ARolek

chore(maps): remove legacy railway runtime
  .github/workflows/railway-deploy.yml
  Dockerfile.railway
  deploy/railway/start.sh
  docs/safari-expert-railway.md
  railway.toml
Owners: @gdey, @ARolek

ci: add maps promotion workflow
  .github/workflows/maps-promote-dev.yml
  .github/workflows/maps-release-dev.yml
  deploy/maps/README.md
  deploy/maps/build-east-africa-pmtiles.sh
  deploy/maps/import-protected-areas.sh
  deploy/maps/pilot/README.md
  deploy/maps/pilot/build-basemap.sh
Owners: @gdey, @ARolek

chore: resolve comments
  provider/postgis/postgis.go
  server/handle_map_capabilities.go
Owners: @gdey, @ARolek

chore: upgrade Go to 1.26.7
  .github/actions/amazon-linux-build-action/Dockerfile
  Dockerfile
  README.md
  go.mod
Owners: @gdey, @ARolek

chore: upgrade golang.org/x/text@v0.39.0
  go.mod
  go.sum
  vendor/golang.org/x/text/cases/context.go
  vendor/golang.org/x/text/cases/map.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/iter.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/modules.txt
Owners: @gdey, @ARolek

map updates
  .github/workflows/maps-promote-dev.yml
  .github/workflows/maps-release-dev.yml
  .wrangler/cache/wrangler-account.json
  deploy/maps/README.md
  deploy/maps/cloudflare/maps-worker-dev/src/index.ts
  deploy/maps/cloudflare/maps-worker-dev/wrangler.jsonc
  deploy/maps/pilot/README.md
  deploy/maps/pilot/build-basemap.sh
  deploy/maps/pilot/build-country-pack.sh
  deploy/maps/pilot/build-five-pilot.sh
  deploy/maps/pilot/build-release.sh
  deploy/maps/pilot/countries.json
  deploy/maps/pilot/finalize-release.sh
  deploy/maps/pilot/performance-report.sh
  deploy/maps/pilot/quality-report.sh
  deploy/maps/pilot/release-inputs.lock.json
  deploy/maps/pilot/special-destinations.json
  deploy/maps/pilot/validate-release.sh
  deploy/maps/protected_areas.lua
  geofabrik-index-v1.json
Owners: @gdey, @ARolek

TileJSON 3.0 support with layer fields discovery and cached /capabilities responses (#1071)
  atlas/map.go
  cmd/internal/register/maps.go
  cmd/internal/register/maps_test.go
  config/config.go
  config/config_test.go
  config/errors.go
  mapbox/tilejson/tilejson.go
  provider/errors.go
  provider/map.go
  provider/postgis/postgis.go
  provider/provider.go
  server/handle_map_capabilities.go
  server/handle_map_capabilities_test.go
Owners: @gdey, @ARolek

fix(gpkg): support SRID configuration and feature SRID propagation
  provider/gpkg/gpkg.go
  provider/gpkg/gpkg_register.go
  provider/gpkg/gpkg_register_nocgo.go
  provider/gpkg/gpkg_test.go
  provider/gpkg/util.go
Owners: @gdey

fix(gpkg): explicit srid config must override inferred GPKG SRID
  provider/gpkg/gpkg_register.go
Owners: @gdey

fix(basic): support geom.Collection reprojection to/from WebMercator
  basic/geometry_math.go
  basic/geometry_math_test.go
Owners: @gdey, @ARolek

.github/CODEOWNERS:

# The main owners and contributes of this project.
*       @gdey @ARolek

# Maintainer of the gpkg package:
/provider/gpkg @gdey
/ui @ARolek @mapl
# Maintainer of the HANA database provider:
/provider/hana @mrylov
