Repository go-spatial/tegola, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gdey, @ARolek, @mapl, @mrylov

migration to maplibre, vuejs3 with vite bundler and update deps to latest version
  ui/dist/.keep
  ui/package-lock.json
  ui/package.json
  ui/src/App.vue
  ui/vite.config.js
Owners: @ARolek, @mapl

add .keep file for ui/dist folder
  ui/dist/.keep
Owners: @ARolek, @mapl

Upgrade go to 1.20.5
  .github/actions/tegola-setup-env/action.yml
  .github/workflows/on_pr_push.yml
  .github/workflows/on_release_publish.yml
  Dockerfile
  go.mod
Owners: @gdey, @ARolek

HANA: Set sessionVariable:APPLICATION in connection string
  provider/hana/hana.go
Owners: @mrylov

HANA: Set sessionVariable:APPLICATION in connection string (#930)
  provider/hana/hana.go
Owners: @mrylov

migration to maplibre, vuejs3 with vite bundler and update deps to latest version
  .gitignore
  ui/dist/.keep
  ui/index.html
  ui/package-lock.json
  ui/package.json
  ui/src/App.vue
  ui/src/components/LeftNav/LeftNav.vue
  ui/src/components/ViewerMapbox.vue
  ui/src/globals/store.js
  ui/src/main.js
  ui/vite.config.js
Owners: @gdey, @ARolek, @mapl

update changelog
  CHANGELOG.md
  README.md
Owners: @gdey, @ARolek

Update Dockerfile to use alpine:3.18
  Dockerfile
Owners: @gdey, @ARolek

fix: cache/gcs dropped errs
  cache/gcs/gcs.go
Owners: @gdey, @ARolek

fix: cache/gcs dropped errs (#938)
  cache/gcs/gcs.go
Owners: @gdey, @ARolek

Add docker/setup-buildx-action to build_docker job
  .github/workflows/on_release_publish.yml
Owners: @gdey, @ARolek

Update action step name
  .github/workflows/on_release_publish.yml
Owners: @gdey, @ARolek

Add comment for more clarity
  .github/workflows/on_release_publish.yml
Owners: @gdey, @ARolek

Add docker/setup-buildx-action to build_docker job
  .github/workflows/on_release_publish.yml
Owners: @gdey, @ARolek

Fix docker image viewer UI
  .github/workflows/on_release_publish.yml
Owners: @gdey, @ARolek

Fix ui version checking during build
  internal/build/build.go
  internal/build/viewer.go
  ui/embed.go
Owners: @gdey, @ARolek, @mapl

Updating CI to build tegola_lambda for arm64 and amd64
  .github/actions/tegola-upload-path/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/on_release_publish.yml
Owners: @gdey, @ARolek

Update tegola_lambda to support al2 deployments
  .github/actions/amazon-linux-build-action/Dockerfile
  .github/actions/amazon-linux-build-action/entrypoint.sh
  .github/actions/tegola-setup-env/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/on_pr_push.yml
  .github/workflows/on_release_publish.yml
  cmd/tegola_lambda/README.md
  cmd/tegola_lambda/main.go
Owners: @gdey, @ARolek

Update CI to address depreaction warnings
  .github/actions/amazon-linux-build-action/entrypoint.sh
  .github/actions/tegola-upload-path/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/on_release_publish.yml
Owners: @gdey, @ARolek

Upgrade Go to 1.21.1
  .github/actions/amazon-linux-build-action/Dockerfile
  .github/actions/tegola-setup-env/action.yml
  .github/workflows/on_pr_push.yml
  .github/workflows/on_release_publish.yml
Owners: @gdey, @ARolek

Reduce precision to 8 places for query tokens (including BBOX) so that tests pass on amd64 and arm64
  provider/hana/util.go
  provider/hana/util_internal_test.go
  provider/postgis/util.go
  provider/postgis/util_internal_test.go
Owners: @mrylov, @gdey, @ARolek

Work on passing tests
  config/config_test.go
Owners: @gdey, @ARolek

POC: watch config files to load/unload maps
  atlas/atlas.go
  cmd/internal/register/maps.go
  cmd/tegola/cmd/root.go
  config/config.go
  config/source/file.go
  config/source/source.go
  go.mod
  go.sum
  vendor/github.com/fsnotify/fsnotify/.editorconfig
  vendor/github.com/fsnotify/fsnotify/.gitattributes
  vendor/github.com/fsnotify/fsnotify/.gitignore
  vendor/github.com/fsnotify/fsnotify/.mailmap
  vendor/github.com/fsnotify/fsnotify/CHANGELOG.md
  vendor/github.com/fsnotify/fsnotify/CONTRIBUTING.md
  vendor/github.com/fsnotify/fsnotify/LICENSE
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/backend_fen.go
  vendor/github.com/fsnotify/fsnotify/backend_inotify.go
  vendor/github.com/fsnotify/fsnotify/backend_kqueue.go
  vendor/github.com/fsnotify/fsnotify/backend_other.go
  vendor/github.com/fsnotify/fsnotify/backend_windows.go
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/mkdoc.zsh
  vendor/github.com/fsnotify/fsnotify/system_bsd.go
  vendor/github.com/fsnotify/fsnotify/system_darwin.go
  vendor/modules.txt
Owners: @gdey, @ARolek

Address initial review comments
  atlas/atlas.go
  cmd/tegola/cmd/root.go
Owners: @gdey, @ARolek

Create a global set of provider instances (namespaced by app name) to track their lifecyeles, thus removing this responsibility from the individual drivers.
  cmd/internal/register/maps_test.go
  cmd/internal/register/providers.go
  cmd/internal/register/providers_test.go
  cmd/tegola/cmd/root.go
  cmd/tegola_lambda/main.go
  provider/debug/debug.go
  provider/gpkg/gpkg.go
  provider/gpkg/gpkg_register.go
  provider/gpkg/gpkg_register_internal_test.go
  provider/hana/hana.go
  provider/hana/register.go
  provider/mvt_provider.go
  provider/postgis/postgis.go
  provider/postgis/register.go
  provider/provider.go
  provider/provider_test.go
  provider/test/emptycollection/provider.go
  provider/test/provider.go
Owners: @gdey, @ARolek, @mrylov

Add tests for config watchers and related functions
  atlas/atlas_test.go
  cmd/tegola/cmd/root.go
  cmd/tegola/cmd/root_test.go
  config/source/file.go
  config/source/file_test.go
  config/source/source.go
  config/source/source_test.go
Owners: @gdey, @ARolek

Fix bug where misnamed provider instances aren't unloaded
  provider/provider.go
Owners: @gdey, @ARolek

Upgrade Go to 1.21.3
  .github/actions/amazon-linux-build-action/Dockerfile
  .github/actions/tegola-setup-env/action.yml
  .github/workflows/on_pr_push.yml
  .github/workflows/on_release_publish.yml
Owners: @gdey, @ARolek

Fix docker hub login in CI
  .github/workflows/on_release_publish.yml
Owners: @gdey, @ARolek

provider/hana: fix dropped error
  provider/hana/hana.go
Owners: @mrylov

Upgrade Tegola code to work with latest go-spatial/geom
  atlas/map.go
  atlas/map_test.go
  cmd/tegola/cmd/cache/seed_purge.go
  cmd/tegola/cmd/cache/seed_purge_generator_test.go
  cmd/tegola/cmd/cache/slippy.go
  cmd/tegola/cmd/cache/slippy_test.go
  cmd/tegola/cmd/cache/tile_list.go
  cmd/tegola/cmd/cache/tile_name.go
  provider/hana/hana.go
  provider/provider.go
  server/handle_map_layer_zxy.go
Owners: @gdey, @ARolek, @mrylov

Reduce precision to 8 places for query tokens (including BBOX) so that tests pass on amd64 and arm64
  provider/hana/util.go
  provider/hana/util_internal_test.go
  provider/postgis/util.go
  provider/postgis/util_internal_test.go
Owners: @mrylov, @gdey, @ARolek

Add ProxyProtocol to the toml config and webserver struct
  cmd/tegola/cmd/server.go
  config/config.go
Owners: @gdey, @ARolek

Use ProxyProtocol to generate scheme
  config/config_test.go
  server/server.go
  server/server_internal_test.go
  server/viewer_embed.go
  ui/package-lock.json
  ui/vite.config.js
Owners: @gdey, @ARolek, @mapl

Add govulncheck to CI
  .github/workflows/on_pr_push.yml
Owners: @gdey, @ARolek

Update deprecated Github actions
  .github/actions/tegola-setup-env/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/on_release_publish.yml
Owners: @gdey, @ARolek

feat: allow dbconfig options
  provider/postgis/README.md
  provider/postgis/postgis.go
  provider/postgis/postgis_test.go
  provider/postgis/util_internal_test.go
Owners: @gdey, @ARolek

feat: allow dbconfig options
  provider/postgis/README.md
  provider/postgis/postgis.go
  provider/postgis/postgis_test.go
  provider/postgis/util_internal_test.go
Owners: @gdey, @ARolek

Bump Go version to 1.21.8
  Dockerfile
  README.md
  go.mod
Owners: @gdey, @ARolek

refactor: deprecate non-uri connection
  .github/workflows/on_pr_push.yml
  mvtprovider/postgis/README.md
  provider/postgis/README.md
  provider/postgis/postgis.go
  provider/postgis/postgis_internal_test.go
  provider/postgis/postgis_test.go
  provider/postgis/util_internal_test.go
Owners: @gdey, @ARolek

.github/CODEOWNERS:

# The main owners and contributes of this project.
*       @gdey @ARolek

# Maintainer of the gpkg package:
/provider/gpkg @gdey
/ui @ARolek @mapl
# Maintainer of the HANA database provider:
/provider/hana @mrylov
